basic data structure
1. list ðŸŒº
2. tuple
3. set
4. dictionary ðŸŒº



LIST PROPERTIES
-list is orderded (jis sequence me data rkha ussi sequence me rahega)
-indexed
-mutable (changeable)
-allow duplicate values
-heterogenous (different types of data)
-list is denoted by square brackets [  ]
-an iterable can be converted to list using list() function

what to learn?
-creating
-indexing/slicing
-modifying
-methods

In [1]:
x = [1,2,3,4,5,6]
names = ['sishti','sneha','adarsh','jasleen','shubham']
mixed = ['potato',40,'tomato',20,'onion',30]

In [2]:
name = 'srishti'
list(name)

['s', 'r', 'i', 's', 'h', 't', 'i']

In [3]:
a = [1] #single element list
a*10 #duplication of list

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [4]:
x = [ ]

In [5]:
data = 'Can I take the class @Srishti_Trivedi'
words = data.split()
print(words)

['Can', 'I', 'take', 'the', 'class', '@Srishti_Trivedi']

In [6]:
words

['Can', 'I', 'take', 'the', 'class', '@Srishti_Trivedi']

In [7]:
words[0]

'Can'

In [8]:
words[0] = 'Would'

In [9]:
words

['Would', 'I', 'take', 'the', 'class', '@Srishti_Trivedi']

In [12]:
words[1] = 'you'
words[2] = 'please'
words[3] = 'take'
words[4] = 'the'
words[5] = 'class'

In [13]:
words

['Would', 'you', 'please', 'take', 'the', 'class']

In [17]:
x = [11,22,33,44,55,66,77,88,99]
print(x[:3]) #first three
print(x[-3:]) #last 3 elements
print(x[:100]) #first 100 elements if available
print(x[::-1]) #reverse the list

[11, 22, 33]
[77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [18]:
for name in names:
    print(name)

sishti
sneha
adarsh
jasleen
shubham

In [22]:
# reverse iteration
for num in x[::-1]:
    print(x)

[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [23]:
#only first five elements of the list in the loop
for i in x[:5]:
    print(i)

11
22
33
44
55

dont update the list while iterating over it

In [34]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111, 111, 111]

In [35]:
x.append(121)

In [36]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111, 111, 111, 121]

In [37]:
x.insert(3, 40)

In [38]:
x

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 111, 111, 121]

In [39]:
y = [21,31,41,51,61,71,81,91]

In [40]:
x+y

[11,
 22,
 33,
 40,
 44,
 55,
 66,
 77,
 88,
 99,
 111,
 111,
 111,
 121,
 21,
 31,
 41,
 51,
 61,
 71,
 81,
 91]

In [42]:
x.extend(y) #extend the list
print(x)
print(y)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 111, 111, 121, 21, 31, 41, 51, 61, 71, 81, 91, 21, 31, 41, 51, 61, 71, 81, 91]
[21, 31, 41, 51, 61, 71, 81, 91]

In [43]:
names

['sishti', 'sneha', 'adarsh', 'jasleen', 'shubham']

In [44]:
names.remove('jasleen')

In [45]:
names

['sishti', 'sneha', 'adarsh', 'shubham']

In [46]:
words

['Would', 'you', 'please', 'take', 'the', 'class']

In [47]:
words.pop(2)

'please'

In [48]:
words

['Would', 'you', 'take', 'the', 'class']