In [1]:
name = 'Vijay Deenanath Chauhan'
len(name)

23

In [2]:
msg=''' bahut sari lines likhni hai 
toh aap aise
likh skte hai'''
print(msg)

 bahut sari lines likhni hai
toh aap aise
likh skte hai

In [3]:
print(len(msg))

56

python indexing
    - positive indexing
    - negative indexing

In [4]:
msg='''bahut sari lines likhni hai 
toh aap aise
likh skte hai'''
print(msg[0])
print(msg[8])
print(msg[-1])

b
r
i

- slicing
'x[ startidx: endidx : step] '

examples 
 - x[ 5 : 15]  -> 5th to 14th index data
 - x[ : 10]   -> begin from 0th index to 9th index data
 - x[ 5 : ]   -> 5th index to end of data

In [5]:
name[6 : 15]

'Deenanath'

In [6]:
name[6 : -8]

'Deenanath'

In [7]:
name[11:-8]

'nath'

In [8]:
name[-12:-8]

'nath'

In [9]:
name[:5]

'Vijay'

In [10]:
name[-7:]

'Chauhan'

In [11]:
my='Srishti Trivedi'
fname = my[:7]
print(fname)
lname = my[-7:]
print(lname)

Srishti
Trivedi

In [12]:
my[::2]

'SihiTiei'

In [13]:
my[1::2]

'rst rvd'

In [14]:
my[::-1] #reverse string

'idevirT ithsirS'

In [15]:
x = 'Excyclopedia'
x[-5:]
x[2:-4]

'cyclop'

In [16]:
x[2:-2]

'cycloped'

In [17]:
x='$29031023.00 USD'
x[1:-4]

'29031023.00'

In [18]:
my[::-1][:5][::-1]

'ivedi'

### string methods 
    -formatting functions
       -upper()
       -lower()
    -validation method
       -isalnum()
       -isalpha()
       -islower()
       -isupper()
    -search method
       -find()
       -index()
    -utility method
       -replace()
       -split()
       -join()
       -strip()

In [19]:
'hello world'.split()

['hello', 'world']

In [20]:

msg = 'Journey Before Destination'

In [21]:
msg.index('y')

6

In [22]:
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold())

JOURNEY BEFORE DESTINATION
journey before destination
Journey Before Destination
Journey before destination
jOURNEY bEFORE dESTINATION
journey before destination

In [23]:
msg

'Journey Before Destination'

In [24]:
msg.isalpha()

False

In [25]:
"pizza".isalpha()

True

In [27]:
fname = input('Enter your fname:')
if fname.isalpha():
    print('Good girl/boy')
else:
    print('chal chutiye')

chal chutiye

In [29]:
'193k8'.isnumeric()

False

In [30]:
'193.8'.isnumeric()

False

In [31]:
'123456'.isnumeric()

True

In [33]:
'12 3456'.isalnum()

False

In [34]:
n = 'Ms. Vijaya'
n.startswith('Ms')

True

In [42]:
guests = ['Mr. Alex','Ms. Verma','Dr. Tiwari','Ms. Trivedi','Dr. Sharma','Mr. Kapoor']
for name in guests:
    if name.startswith('Mr'):
        print(f"WELCOME SIR \n {name}")
    elif name.startswith('Ms'):
        print(f"WELCOME MA'AM \n {name}")
    elif name.startswith('Dr'):
        print(f'WELCOME DOCTOR \n {name}')

WELCOME SIR
 Mr. Alex
WELCOME MA'AM
 Ms. Verma
WELCOME DOCTOR
 Dr. Tiwari
WELCOME MA'AM
 Ms. Trivedi
WELCOME DOCTOR
 Dr. Sharma
WELCOME SIR
 Mr. Kapoor

In [46]:
import os

files = os.listdir()
print(files)

['abc.ipynb', 'abc.py', 'func.ipynb', 'func2.ipynb', 'loop.ipynb', 'nested.py', 'nested2.py', 'strings.ipynb', 't1.py', 't2.py']

In [50]:
for file in files:
    if file.endswith('.py'):
        print(f'{file} is Python Script')
        print("------------------")
    elif file.endswith('.ipynb'):
        print(f'{file} is Jupyter Notebook ')
        print("------------------")
    elif file.endswith('.txt'):
        print(f'{file} is Text file')
        print("------------------")
    elif file.endswith('.md'):
        print(f'{file} is Markdown file')
        print("------------------")
    else :
        print(f'{file} is Unknown file/dir')
        print("------------------")

abc.ipynb is Jupyter Notebook
------------------
abc.py is Python Script
------------------
func.ipynb is Jupyter Notebook
------------------
func2.ipynb is Jupyter Notebook
------------------
loop.ipynb is Jupyter Notebook
------------------
nested.py is Python Script
------------------
nested2.py is Python Script
------------------
strings.ipynb is Jupyter Notebook
------------------
t1.py is Python Script
------------------
t2.py is Python Script
------------------

In [51]:
msg

'Journey Before Destination'

In [53]:
msg.find('fore')

10

In [54]:
msg.find('e')

5

In [55]:
msg.rfind('e')

16

In [56]:
data = 'Once upon a time, there was a person that lived. The end'

In [57]:
data.find('t')

12

In [58]:
data.find('t',13) #starts from 13th

18

In [60]:
data.find('z') # -1 means not found

-1

In [63]:
data.count('th')

2

In [65]:
data.count('a')

4

In [66]:
data = 'As the day was coming to the end, our hero was ready to go to sleep. The end'

In [68]:
words = data.split()
print(words)

['As', 'the', 'day', 'was', 'coming', 'to', 'the', 'end,', 'our', 'hero', 'was', 'ready', 'to', 'go', 'to', 'sleep.', 'The', 'end']

In [72]:
s= data.split(',')
print(s)

['As the day was coming to the end', ' our hero was ready to go to sleep. The end']

In [73]:
s= data.split('a')
print(s)

['As the d', 'y w', 's coming to the end, our hero w', 's re', 'dy to go to sleep. The end']

In [74]:
x = ['abra','ka','dabra']
"  ".join(x)

'abra  ka  dabra'

In [76]:

x = ['abra','ka','dabra']
"=-=-=".join(x)

'abra=-=-=ka=-=-=dabra'

In [79]:
x = ('abra','ka','dabra')
"*-*-*-*-*".join(x)

'abra*-*-*-*-*ka*-*-*-*-*dabra'

In [84]:
data.replace('hero','vilian').replace('end','start',1).replace('The end','To be continued---->>>>>>>>')

'As the day was coming to the start, our vilian was ready to go to sleep. To be continued---->>>>>>>>'

In [85]:
name = input("enter your name:")
print(name)
print(len(name))

    srishtii
12

In [90]:
name = input("enter your name:")
print(name)
print(len(name))
n = name.strip()
print(n)
print(len(n))

    Srishti    Trivedi
22
Srishti    Trivedi
18

task


#wap to remove all the vowels from a string

#wap to remove all the punctuations from a string

#count all the words in a string

#count all the vowels in a string

In [113]:
#wap to remove all the vowels from a string
s = "Srisht Trivedi"
for j in s:
    if j=='i' or j=='a' or j=='e' or j=='o' or j=='u':
        a=s.replace(j,' ')
print(a)

Sr sht Tr ved

In [ ]:
#wap to remove all the punctuations from a string

In [1]:
#count all the words in a string
s = 'Srishti is the best.'
print(s.count(' ')+1)

4

In [114]:
#count all the words in a string
s = 'Srishti is the best.'
len(s.split())

4

In [96]:
#count all the vowels in a string
s = 'Srishti Trivedi'
v= s.count('i')+s.count('a')+s.count('e')+s.count('o')+s.count('u')+s.count('A')+s.count('E')+s.count('O')+s.count('I')+s.count('U')
print(v)

5

In [2]:
from string import punctuation

In [3]:
def clean_string(content):
    for char in punctuation:
        print('Removing', char)
        content = content.replace(char,' ')
    return content

In [6]:
a = 'HE?$@$%^&&%%^* llo #@%%#$^%$ S$r*i@s&h^t*i'
clean_string(a)

Removing !
Removing "
Removing #
Removing $
Removing %
Removing &
Removing '
Removing (
Removing )
Removing *
Removing +
Removing ,
Removing -
Removing .
Removing /
Removing :
Removing ;
Removing <
Removing =
Removing >
Removing ?
Removing @
Removing [
Removing \
Removing ]
Removing ^
Removing _
Removing `
Removing {
Removing |
Removing }
Removing ~

'HE             llo           S r i s h t i'